"*":
  "atom-package-deps":
    ignored: [
      "linter-jsonlint"
    ]
  core:
    customFileTypes:
      "source.ini": [
        ".hgrc"
        ".buckconfig"
        ".flowconfig"
      ]
      "source.js.jsx": [
        "jsx"
        "js"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "image-view"
      "tree-view"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
      "yarn.lock"
    ]
    packagesWithKeymapsDisabled: [
      "goto-definition"
      "hyperclick"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "operator-mono"
    ]
    useTreeSitterParsers: true
  editor:
    fontFamily: "Operator Mono"
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "6cbc8b33-9674-4a0f-812d-d82e7aede016"
  "goto-definition":
    performanceMode: true
  "js-hyperclick":
    extensions: [
      ".js"
      ".jsx"
    ]
    jumpToImport: true
    skipIntermediate: false
  "js-hyperclick-project-path":
    extensions: [
      ".js"
      ".json"
      ".jsx"
      ".yaml"
    ]
    jumpToImport: true
  "language-babel":
    autoIndentJSX: true
  "linter-eslint": {}
  "linter-ui-default":
    panelHeight: 172
  nuclide:
    "atom-ide-code-format":
      formatOnType: false
    "atom-ide-diagnostics-ui": {}
    use:
      "atom-ide-terminal": "never"
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      showInStatusBar: true
    useEslint: true
  welcome:
    showOnStartup: false

